@using System.Data;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "eBit - Account Request(s)";

    DataSet ds = SurveyApp.DataHelper.getSubmittedData();
}

<script type="text/javascript">
    $(function () {
        $("#tblRequests").DataTable({ dom: 'Bfrtip', buttons: [{ extend: 'excel', text: "Export to Excel", title: 'Account_Requests', exportOptions: { modifier: { search: 'none', order: 'original' } } }], "oLanguage": { "sInfo": "Displaying _START_ to _END_ of _TOTAL_ Request(s)" } });
    });
</script>

<div class="submitted">
    <table class="table table-striped table-hover" id="tblRequests">
        <thead>
            <tr>
                <th class="name">Respondent</th>
                <th class="name">RespondentEmail</th>
                <th class="email">Role</th>
                <th class="comments">Child</th>
                <th class="date">School</th>
                <th class="action">Survey</th>
            </tr>
        </thead>
        <tbody>
            @if (ds != null && ds.Tables.Count > 0)
            {
                foreach (DataRow dr in ds.Tables[0].Rows)
                {
                    
                }
            }
        </tbody>
    </table>
</div>


