<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=tcp:ucsfebitdb.database.windows.net,1433;Initial Catalog=SurveyApp;Integrated Security=False;User ID=consult.userwise@gmail.com@ucsfebitdb;Password=ucsfebit1@;Connect Timeout=30;Encrypt=True" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=tcp:ucsfebitdb.database.windows.net,1433;Initial Catalog=SurveyApp_20170314;Integrated Security=False;User ID=consult.userwise@gmail.com@ucsfebitdb;Password=ucsfebit1@;Connect Timeout=30;Encrypt=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <location path="Data">
    <system.web>
      <authorization>
        <deny roles="Student,Parent,Teacher" />
      </authorization>
    </system.web>
  </location>
  <location path="Child">
    <system.web>
      <authorization>
        <deny roles="Student,Parent,Teacher" />
      </authorization>
    </system.web>
  </location>
  <location path="Condition">
    <system.web>
      <authorization>
        <deny roles="Student,Parent,Teacher" />
      </authorization>
    </system.web>
  </location>
  <location path="ParentTeacher">
    <system.web>
      <authorization>
        <deny roles="Student,Parent,Teacher" />
      </authorization>
    </system.web>
  </location>
  <location path="Schedule">
    <system.web>
      <authorization>
        <deny roles="Student,Parent,Teacher" />
      </authorization>
    </system.web>
  </location>
  <location path="School">
    <system.web>
      <authorization>
        <deny roles="Student,Parent,Teacher" />
      </authorization>
    </system.web>
  </location>
  <location path="Study">
    <system.web>
      <authorization>
        <deny roles="Student,Parent,Teacher" />
      </authorization>
    </system.web>
  </location>
  <location path="Survey">
    <system.web>
      <authorization>
        <deny roles="Student,Parent,Teacher" />
      </authorization>
    </system.web>
  </location>
  <location path="Assignment">
    <system.web>
      <authorization>
        <deny roles="Student,Parent,Teacher" />
      </authorization>
    </system.web>
  </location>

  <appSettings>
    <add key="_RootPath" value="https://ucsfebit.azurewebsites.net/" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NoOfDaysToSaveScheduleUpto" value="20" />
    <add key="SendEmails" value="true" />
    <add key="SMTPSERVER" value="smtp.gmail.com" />
    <add key="SMTPPORT" value="587" />
    <add key="SMTPSENDER" value="azure_c04af75d22d65c766f2c59082142309c@azure.com" />
    <add key="key2" value="hUnjVx3hCpyd40YjhnauoA==" />
    <add key="key5" value="UCSfebit!ucsFEBIT@UCS!@#" />
    <add key="TestEmailAddress" value="ebitdevteam@gmail.com" />
    <add key="EnableErrorLog" value="true" />
    <add key="EnableHttps" value="true" />
    <add key="EnableReminderCalculation" value="true" />
    <add key="ApplicationInsightsKey" value="9add9c4d-3ed6-4f3a-a199-6728c9ee31b8"/>
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/error">
      <error statusCode="404" redirect="~/404.html" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" slidingExpiration="true" timeout="1440" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <clear />
        <!--<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="DefaultConnection" applicationName="/" />-->
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <membership defaultProvider="simple">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
        <add name="simple" requiresUniqueEmail="false" type="WebMatrix.WebData.SimpleMembershipProvider,                              WebMatrix.WebData" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="simple">
      <providers>
        <clear />
        <add connectionStringName="DefaultConnection" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
        <add name="simple" type="WebMatrix.WebData.SimpleRoleProvider,                               WebMatrix.WebData" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>