@{
    ViewBag.Title = "eBit (Evidence Based Intervention and Treatment) facilitates";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper" style="position:relative;">
            <hgroup class="title">
                <h2>@ViewBag.Title</h2>
            </hgroup>
        </div>
    </section>
}
<div style="height:30px;"></div>
@*<article>
    <img src="~/Images/at3Logo.png" alt="" style="margin-left:40px;display:block;" />
    <p>

        <ul>
            <li>Evidence-based care by enabling caregivers to quantify the effects of interventions</li>
            <li>Integrated care by allowing caregivers to share progress within their network.</li>
        </ul>

    </p>
</article>*@

<style type="text/css">
    .tabs{margin-bottom: 12px;}
    .tabs .current, .comparison .previous {border-top: none;}
    .tabs ul {height: 41px;margin: 0px;list-style: none;padding:0px;border-bottom: solid 1px #CCC;}
    .tabs li {float: left;}
    .tabs li a {text-align:center;margin-right: 2px;border: 1px solid transparent;padding: 10px 15px;display: block;position: relative;text-shadow: none;text-decoration:none;color:#333;min-width: 141px;}
    .tabs li a:hover {border-color: #FEFEFE;cursor: pointer;}
    .tabs li a.selected {color: #4d6b8a;background-color: #fff;border: 1px solid #B1B1B1;border-bottom-color: transparent;cursor: default;}

    .team table td{vertical-align:top;padding:10px;}
    .team table .media-element-container{margin-top:12px;border: 1px solid #999;}
    .team table .media-element-container img{    
    padding: 5px 5px;
    width: 100%;}
    .separator{margin: 10px;}
    .featured .content-wrapper{
        width: 100%;
    }
    .featured .content-wrapper h2{
        background-image: -webkit-linear-gradient(top, #00aaff 0%, #b9def0 100%);
        background-image: -o-linear-gradient(top, #00aaff 0%, #4b9dc5 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#00aaff), to(#4b9dc5));
        background-image: linear-gradient(to bottom, #00aaff 0%, #4b9dc5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
        background-repeat: repeat-x;
        border-color: #000000;
    }

    .member{
        position: relative;        
        margin: 0px auto;
    }
    .member .descp{
        border: solid 1px #CCC;
        border-radius: 16px;
        padding: 4px;
        width: 88%;
        display: inline-block;
    }
    .member .desc{                
        border-radius: 16px;
        padding: 10px;
    }
    .member .desc h4{
        text-align: center;
    }
    .member .pic{
        display: inline-block;
        position: relative;
        top: 0px;
        vertical-align: top;
    }
    .member .pic img{
        width: 128px;
        height: 128px;
        border: solid 1px #CCC;        
        border-radius: 20%;
        padding: 4px;
    }
    .__tabs{
        margin: 0px 30px;
    }
</style>
<div class="tabs toptabs">
    <ul class="tabdashboard">
        <li>
            <a class="selected" href="javascript:void(0);" onclick="$('.tabdashboard a').removeClass('selected'); $(this).addClass('selected'); $('.__tabs').hide(); $('.research').show();">Research And Collaborators</a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="$('.tabdashboard a').removeClass('selected'); $(this).addClass('selected'); $('.__tabs').hide(); $('.team').show();">Our Research Team</a>
        </li>        
    </ul>
</div>
<div>
    <div class="research __tabs">
                   
            <h3>UCSF Dyslexia Center</h3>

            <p><em>Leading the way from basic neuroscience research to the classroom: individualized and strength-based approach.</em></p>

            <p><strong>Charles Armstrong School&nbsp;Outcome Study:</strong> The partnership between the <a href="http://dyslexia.ucsf.edu" target="_blank" style="color:#337ab7;">UCSF Dyslexia Center</a> and the Armstrong School Outcome Study is a collaboration with UCSF Dyslexia Center that studies the cognitive and neurodevelopmental basis for dyslexia and other learning disorders with students at <a href="http://www.charlesarmstrong.org" target="_blank" style="color:#337ab7;">Charles Armstrong School</a>. Our goal is to translate research into personalized treatments. Working with educators, we aim to develop best practice protocols to implement these interventions in classrooms throughout the country.</p>

            <h3>Oak Hill School Outcome Study</h3>

            <p><em>Providing the highest quality of care through integrating educational, medical, and psychosocial assessment and treatment individualized for each student.</em></p>

            <p>This study involves the collaboration between UCSF and <a href="http://www.theoakhillschool.org/" target="_blank" style="color:#337ab7;">Oak Hill School</a>, a non-public school for students with autism and related neurodevelopmental disorders. The purpose of this study is to develop an integrated, comprehensive, and collaborative approach to providing care to children and adolescent with autism, which is crucial to developing evidence-based targeted treatments in a school setting.</p>

            <p>Through a partnership between UCSF and the Oak Hill School (OHS), our goal is to build a translational education/medical intervention center for people with significantly impairing neurological disorders that provides integrated, practical, school-based interventions and resilience strengthening therapies and demonstrate significantly improved outcomes.</p>

            <p>The Oak Hill School&nbsp;is a therapeutic community specializing in innovative intervention for students with ASD and other neurodevelopmental differences. Our students receive individualized academic instruction tailored to their needs. Health and mental health professionals, speech and language pathologists, and occupational therapists collaborate with classroom teaching teams to implement a comprehensive, integrated program. We measure outcomes regularly and adjust the program to maximize each child’s educational, social and health functioning. Health promoting and biomedical interventions are offered to maximize each child’s ability to learn.</p>

            <p>The UCSF medical research team has developed an easy to use, web-based outcome measurement system that makes it possible to track outcomes and better tailor interventions to the individual student. The UCSF team is partnering with parents and health care professionals to implement a health and resilience program in the school. Together, OHS and UCSF are pioneering collaborative and personalized research and innovation to improve the quality of life for our students and other students like them.</p>
        
    </div>   

    <div class="team __tabs" style="display:none;">        
        <div class="hendren member">
            <div class="pic">                
                <img src="~/Images/hendren.jpg?v1" alt="Robert Hendren, DO">
            </div>
            <div class="descp">
                <div class="desc" style="background-color: #FEFEFE;">
                    <h4>Robert Hendren, DO</h4>

                    <p>Robert L. Hendren, DO, is Professor of Psychiatry and Behavioral Science in the UCSF Department of Psychiatry, Director of the UCSF Autism and Neurodevelopment Program, and Co-Director of the UCSF Dyslexia Center and Vice Chair of the Department of Psychiatry at the University of California, San Francisco. From 2001-2009, he was Professor of Psychiatry and Executive Director and Tsakopoulos-Vismara Chair at the UC Davis MIND Institute (Medical Investigation of Neurodevelopmental Disorders), and from 2009-2015, he served as Vice Chair and Director of Child and Adolescent Psychiatry at the UCSF Department of Psychiatry. Dr. Hendren is Past President of the American Academy of Child and Adolescent Psychiatry (2007-2009). He has published over 100 scientific papers and four books and has been listed in “The Best Doctors in America” each year since it was first published in 1996.</p>

                    <p>Dr. Hendren took his residency in general psychiatry at the Mayo Graduate School of Medicine, and his child and adolescent psychiatry fellowship at the Yale Child Study Center. He is board certified in General as well as Child and Adolescent Psychiatry.</p>

                    <p>His current areas of research and publication interests are translational clinical pharmacology and nutritional trials using biomarkers (MRI, measures of inflammation, oxidative stress, immune function and pharmacogenomics) in neurodevelopmental disorders.</p>
                </div>
            </div>           
        </div>

        <div style="clear:both;" class="separator"></div>

        <div class="member">
            <div class="pic">
                <img src="~/Images/bent_0.jpg?v1" alt="Robert Hendren, DO">
            </div>
            <div class="descp">
                <div class="desc" style="background-color: #FBFBFB;">
                    <h4>Stephen Bent, MD</h4>

                    <p>Stephen Bent, MD, is a Professor of Medicine at the UCSF School of Medicine.&nbsp;His main research interest is the evaluation of the safety and efficacy of herbal remedies and dietary supplements. He served as the project director for one of the first large randomized controlled trials of saw palmetto for enlarged prostate, which gained international recognition for demonstrating that this commonly used herb was no more effective than placebo. Dr. Bent has also served as the principal investigator or co-investigator of several other large randomized controlled trials, including a study of a Chinese herbal remedy used to treat fatigue in the elderly and an internet-based study examining the efficacy of the herbs valerian (for sleep) and kava (for anxiety).</p>

                    <p>Recently, Dr. Bent has stated to conduct randomized controlled trials of complementary and alternative therapies in children with autism, including studies of omega-3 fatty acids and vitamin D. Dr. Bent is also the Principal Investigator of the first-ever fully internet-based randomized controlled trial of a pharmaceutical drug, and he hopes to develop the internet-based technology to speed the testing of promising new therapies. Dr. Bent is an expert in evidence-based medicine and ambulatory care, and has coauthored textbooks in both areas.</p>
                </div>
            </div>
        </div>

        <div style="clear:both;" class="separator"></div>

        <div class="member">
            <div class="pic">
                <img src="~/Images/lawton.jpg?v1" alt="Robert Hendren, DO">
            </div>
            <div class="descp">
                <div class="desc" style="background-color: #F8F8F8;">
                    <h4>Brittany Lawton</h4>

                    <p>Brittany Lawton is a clinical research coordinator at the University of California, San Francisco in the Neurodevelopmental Translational Outcomes Research Program. Ms. Lawton conducts clinical trials for individuals with autism as well as outcomes research in schools for children with autism and dyslexia. Her current areas of research and publication interests are outcomes and translational research to improve integrated care and support for children with neurodevelopmental disorders and their families.</p>
                </div>
            </div>
            </div>

        <div style="clear:both;" class="separator"></div>

        <div class="member">
            <div class="pic">
                <img src="~/Images/Felicia.jpg?v1" alt="Robert Hendren, DO">
            </div>
            <div class="descp">
                <div class="desc" style="background-color: #F4F4F4;">
                    <h4>Felicia Widjaja, MPH</h4>

                    <p>Felicia Widjaja, M.P.H, C.C.R.P., is a senior clinical researcher working at the Neurodevelopmental Translational Outcomes Research Program (NTORP) at the University of California, San Francisco. Ms. Widjaja is a Certified Clinical Research Professional running and managing pediatric and adult autism clinical trials operations and outcome studies. Her current areas of research and publication interests are translational research, public health and autism. She was selected as one of Donald J Cohen fellows in 2012 for the International Association for Child and Adolescent Psychiatry and Allied Professions.</p>
                </div>
            </div>
        </div>

        <div style="clear:both;"></div>
        
        
        
        @*<table border="0" cellpadding="8">
            <tbody>
                <tr>
                    <td width="150">
                        <div style="max-width: 140px;" class="media media-element-container media-media-full _none">
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="~/Images/hendren.jpg?itok=2HBAwgx_ 1x" media="(min-width: 536px)">
                                <source srcset="~/Images/hendren.jpg?itok=A3Zame8D 1x" media="(min-width: 380px)">
                                <source srcset="~/Images/hendren.jpg?itok=zQ0o-qnw 1x" media="(min-width: 277px)">
                                <source srcset="~/Images/hendren.jpg?itok=QZWCeWcL 1x" media="(min-width: 187px)">
                                <source srcset="~/Images/hendren.jpg?itok=XzGqgu9g 1x" media="(min-width: 0px)"><!--[if IE 9]></video><![endif]-->
                                <!--[if lt IE 9]>
                            <img typeof="foaf:Image" src="/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/hendren.jpg?itok=2HBAwgx_" alt="Robert Hendren, DO" title="" />
                            <![endif]-->
                                <!--[if !lt IE 9]><!-->
                                <img src="~/Images/hendren.jpg?itok=2HBAwgx_" srcset="~/Images/hendren.jpg?itok=2HBAwgx_" alt="Robert Hendren, DO" title=""><!-- <![endif]-->
                            </picture>
                        </div>
                    </td>
                    <td>
                        <h4>Robert Hendren, DO</h4>

                        <p>Robert L. Hendren, DO, is Professor of Psychiatry and Behavioral Science in the UCSF Department of Psychiatry, Director of the UCSF Autism and Neurodevelopment Program, and Co-Director of the UCSF Dyslexia Center and Vice Chair of the Department of Psychiatry at the University of California, San Francisco. From 2001-2009, he was Professor of Psychiatry and Executive Director and Tsakopoulos-Vismara Chair at the UC Davis MIND Institute (Medical Investigation of Neurodevelopmental Disorders), and from 2009-2015, he served as Vice Chair and Director of Child and Adolescent Psychiatry at the UCSF Department of Psychiatry. Dr. Hendren is Past President of the American Academy of Child and Adolescent Psychiatry (2007-2009). He has published over 100 scientific papers and four books and has been listed in “The Best Doctors in America” each year since it was first published in 1996.</p>

                        <p>Dr. Hendren took his residency in general psychiatry at the Mayo Graduate School of Medicine, and his child and adolescent psychiatry fellowship at the Yale Child Study Center. He is board certified in General as well as Child and Adolescent Psychiatry.</p>

                        <p>His current areas of research and publication interests are translational clinical pharmacology and nutritional trials using biomarkers (MRI, measures of inflammation, oxidative stress, immune function and pharmacogenomics) in neurodevelopmental disorders.</p>
                    </td>
                </tr>
                <tr><td colspan="2" style="padding:0px;"><div class="separator"></div></td></tr>
                <tr>
                    <td>
                        <div style="max-width: 140px;" class="media media-element-container media-media-full _none">
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="~/Images/bent_0.jpg?itok=Sliby6uE 1x" media="(min-width: 536px)">
                                <source srcset="~/Images/bent_0.jpg?itok=OmqMyqhK 1x" media="(min-width: 380px)">
                                <source srcset="~/Images/bent_0.jpg?itok=oq_HmE2N 1x" media="(min-width: 277px)">
                                <source srcset="~/Images/bent_0.jpg?itok=sdplbbmh 1x" media="(min-width: 187px)">
                                <source srcset="~/Images/bent_0.jpg?itok=pBnNgcrT 1x" media="(min-width: 0px)"><!--[if IE 9]></video><![endif]-->
                                <!--[if lt IE 9]>
                            <img typeof="foaf:Image" src="/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/bent.jpg?itok=Sliby6uE" alt="Stephen Bent, MD" title="" />
                            <![endif]-->
                                <!--[if !lt IE 9]><!-->
                                <img src="~/Images/bent_0.jpg?itok=Sliby6uE" srcset="~/Images/bent_0.jpg?itok=Sliby6uE" alt="Stephen Bent, MD" title=""><!-- <![endif]-->
                            </picture>
                        </div>
                    </td>
                    <td>
                        <h4>Stephen Bent, MD</h4>

                        <p>Stephen Bent, MD, is a Professor of Medicine at the UCSF School of Medicine.&nbsp;His main research interest is the evaluation of the safety and efficacy of herbal remedies and dietary supplements. He served as the project director for one of the first large randomized controlled trials of saw palmetto for enlarged prostate, which gained international recognition for demonstrating that this commonly used herb was no more effective than placebo. Dr. Bent has also served as the principal investigator or co-investigator of several other large randomized controlled trials, including a study of a Chinese herbal remedy used to treat fatigue in the elderly and an internet-based study examining the efficacy of the herbs valerian (for sleep) and kava (for anxiety).</p>

                        <p>Recently, Dr. Bent has stated to conduct randomized controlled trials of complementary and alternative therapies in children with autism, including studies of omega-3 fatty acids and vitamin D. Dr. Bent is also the Principal Investigator of the first-ever fully internet-based randomized controlled trial of a pharmaceutical drug, and he hopes to develop the internet-based technology to speed the testing of promising new therapies. Dr. Bent is an expert in evidence-based medicine and ambulatory care, and has coauthored textbooks in both areas.</p>
                    </td>
                </tr>
                <tr><td colspan="2" style="padding:0px;"><div class="separator"></div></td></tr>
                <tr>
        <td>
            <div style="max-width: 200px;" class="media media-element-container media-media-full _none">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/rosenblatt.jpg?itok=s7oCuk2g 1x" media="(min-width: 536px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_half/public/rosenblatt.jpg?itok=3ltFdxvu 1x" media="(min-width: 380px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_third/public/rosenblatt.jpg?itok=mFQNxBKr 1x" media="(min-width: 277px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_quarter/public/rosenblatt.jpg?itok=neBAB8mN 1x" media="(min-width: 187px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_sixth/public/rosenblatt.jpg?itok=to9QXpwh 1x" media="(min-width: 0px)"><!--[if IE 9]></video><![endif]-->
                    <!--[if lt IE 9]>
                <img typeof="foaf:Image" src="/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/rosenblatt.jpg?itok=s7oCuk2g" alt="Abram Rosenblatt, PhD" title="" />
                <![endif]-->
                    <!--[if !lt IE 9]><!-->
                    <img src="http://hendrenlab.ucsf.edu/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/rosenblatt.jpg?itok=s7oCuk2g" srcset="http://hendrenlab.ucsf.edu/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/rosenblatt.jpg?itok=s7oCuk2g" alt="Abram Rosenblatt, PhD" title=""><!-- <![endif]-->
                </picture>
            </div>
        </td>
        <td>
            <h3>Abram Rosenblatt, PhD</h3>

            <p>Abram Rosenblatt, PhD, is an Adjunct&nbsp;Professor in the UCSF Department of Psychiatry.&nbsp;He has dedicated much of his career as a researcher to studying outcomes through researching mental health services, children’s mental health, and public policy.</p>
        </td>
    </tr>
    <tr><td colspan="2"><div class="separator"></div></td></tr>             
                <tr>
                    <td>
                        <div style="max-width: 140px;" class="media media-element-container media-media-full _none">
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="~/Images/lawton.jpg?itok=jh0aDMI0 1x" media="(min-width: 536px)">
                                <source srcset="~/Images/lawton.jpg?itok=-iWMJzAF 1x" media="(min-width: 380px)">
                                <source srcset="~/Images/lawton.jpg?itok=kws6OaLw 1x" media="(min-width: 277px)">
                                <source srcset="~/Images/lawton.jpg?itok=yAzv_ApL 1x" media="(min-width: 187px)">
                                <source srcset="~/Images/lawton.jpg?itok=Oao7T9Ur 1x" media="(min-width: 0px)"><!--[if IE 9]></video><![endif]-->
                                <!--[if lt IE 9]>
                    <img typeof="foaf:Image" src="/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/lawton.jpg?itok=jh0aDMI0" alt="Brittany Lawton" title="" />
                    <![endif]-->
                                <!--[if !lt IE 9]><!-->
                                <img src="~/Images/lawton.jpg?itok=jh0aDMI0" srcset="~/Images/lawton.jpg?itok=jh0aDMI0" alt="Brittany Lawton" title=""><!-- <![endif]-->
                            </picture>
                        </div>
                    </td>
                    <td>
                        <h4>Brittany Lawton</h4>

                        <p>Brittany Lawton is a clinical research coordinator at the University of California, San Francisco in the Neurodevelopmental Translational Outcomes Research Program. Ms. Lawton conducts clinical trials for individuals with autism as well as outcomes research in schools for children with autism and dyslexia. Her current areas of research and publication interests are outcomes and translational research to improve integrated care and support for children with neurodevelopmental disorders and their families.</p>
                    </td>
                </tr>
                <tr><td colspan="2" style="padding:0px;"><div class="separator"></div></td></tr>
                <tr>
                    <td>
                        <div style="max-width: 140px;" class="media media-element-container media-media-full _none">
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="~/Images/Felicia.jpg?itok=vqdQPQyH 1x" media="(min-width: 536px)">
                                <source srcset="~/Images/Felicia.jpg?itok=ATcaypnZ 1x" media="(min-width: 380px)">
                                <source srcset="~/Images/Felicia.jpg?itok=4C33cS80 1x" media="(min-width: 277px)">
                                <source srcset="~/Images/Felicia.jpg?itok=UZ7wwtGj 1x" media="(min-width: 187px)">
                                <source srcset="~/Images/Felicia.jpg?itok=r8o9CZaB 1x" media="(min-width: 0px)"><!--[if IE 9]></video><![endif]-->
                                <!--[if lt IE 9]>
                    <img typeof="foaf:Image" src="/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/widjaja.jpg?itok=vqdQPQyH" alt="Felicia Widjaja, MPH" title="" />
                    <![endif]-->
                                <!--[if !lt IE 9]><!-->
                                <img src="~/Images/Felicia.jpg?itok=vqdQPQyH" srcset="~/Images/Felicia.jpg?itok=vqdQPQyH" alt="Felicia Widjaja, MPH" title=""><!-- <![endif]-->
                            </picture>
                        </div>
                    </td>
                    <td>
                        <h4>Felicia Widjaja, MPH</h4>

                        <p>Felicia Widjaja, M.P.H, C.C.R.P., is a senior clinical researcher working at the Neurodevelopmental Translational Outcomes Research Program (NTORP) at the University of California, San Francisco. Ms. Widjaja is a Certified Clinical Research Professional running and managing pediatric and adult autism clinical trials operations and outcome studies. Her current areas of research and publication interests are translational research, public health and autism. She was selected as one of Donald J Cohen fellows in 2012 for the International Association for Child and Adolescent Psychiatry and Allied Professions.</p>
                    </td>
                </tr>
                
                <tr><td colspan="2"><div class="separator"></div></td></tr>
                <tr>
        <td>
            <div style="max-width: 200px;" class="media media-element-container media-media-full _none">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/s200_mattias.sparrow.jpg?itok=XZp8antm 1x" media="(min-width: 536px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_half/public/s200_mattias.sparrow.jpg?itok=6TXLz-QX 1x" media="(min-width: 380px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_third/public/s200_mattias.sparrow.jpg?itok=ZINFea9t 1x" media="(min-width: 277px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_quarter/public/s200_mattias.sparrow.jpg?itok=-8C_QNr8 1x" media="(min-width: 187px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_sixth/public/s200_mattias.sparrow.jpg?itok=6V7_PbBV 1x" media="(min-width: 0px)"><!--[if IE 9]></video><![endif]-->
                    <!--[if lt IE 9]>
                <img typeof="foaf:Image" src="/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/s200_mattias.sparrow.jpg?itok=XZp8antm" alt="Mattias Sparrow" title="" />
                <![endif]-->
                    <!--[if !lt IE 9]><!-->
                    <img src="http://hendrenlab.ucsf.edu/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/s200_mattias.sparrow.jpg?itok=XZp8antm" srcset="http://hendrenlab.ucsf.edu/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_full/public/s200_mattias.sparrow.jpg?itok=XZp8antm" alt="Mattias Sparrow" title=""><!-- <![endif]-->
                </picture>
            </div>
        </td>
        <td>
            <h3>Mattias Sparrow</h3>

            <p>Site Coordinator, Oak Hill School</p>
        </td>
    </tr>
    <tr><td colspan="2"><div class="separator"></div></td></tr>
    <tr>
        <td>
            <div style="max-width: 188px;" class="media media-element-container media-third ucsf-images-wrapping-left">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_third/public/me%2009_0.jpg?itok=WA82P-z- 1x" media="(min-width: 896px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_quarter/public/me%2009_0.jpg?itok=MUhXu_ZU 1x" media="(min-width: 604px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_sixth/public/me%2009_0.jpg?itok=YwegdJX0 1x" media="(min-width: 380px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_third/public/me%2009_0.jpg?itok=WA82P-z- 1x" media="(min-width: 277px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_quarter/public/me%2009_0.jpg?itok=MUhXu_ZU 1x" media="(min-width: 187px)">
                    <source srcset="http://hendrenlab.ucsf.edu//sites/hendrenlab.ucsf.edu/files/styles/starter_kit_sixth/public/me%2009_0.jpg?itok=YwegdJX0 1x" media="(min-width: 0px)"><!--[if IE 9]></video><![endif]-->
                    <!--[if lt IE 9]>
                <img typeof="foaf:Image" src="/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_third/public/me%2009_0.jpg?itok=WA82P-z-" alt="" title="" />
                <![endif]-->
                    <!--[if !lt IE 9]><!-->
                    <img src="http://hendrenlab.ucsf.edu/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_third/public/me%2009_0.jpg?itok=WA82P-z-" srcset="http://hendrenlab.ucsf.edu/sites/hendrenlab.ucsf.edu/files/styles/starter_kit_third/public/me%2009_0.jpg?itok=WA82P-z-" alt="" title=""><!-- <![endif]-->
                </picture>
            </div>
        </td>
        <td>
            <h3>Jody Williams, M.A.</h3>

            <p>Faculty and Program Assistant</p>
        </td>
    </tr>
    <tr><td colspan="2"><div class="separator"></div></td></tr>
            </tbody>
        </table>*@
    </div>
</div>


<aside>
    <div>

    </div>
</aside>
