@{
    ViewBag.Title = "eBit - Clinician";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Clinician Dashboad</h2>
            </hgroup>
        </div>
    </section>
}

@{Html.RenderPartial("_Charts");}