@{
    ViewBag.Title = "eBit - Contact Us";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper" style="position:relative;">
            <hgroup class="title">
                <h2>@ViewBag.Title</h2>
            </hgroup>
        </div>
    </section>
}
<style type="text/css">
    .featured .content-wrapper{
        width: 100%;
    }
    .featured .content-wrapper h2{
        background-image: -webkit-linear-gradient(top, #00aaff 0%, #b9def0 100%);
        background-image: -o-linear-gradient(top, #00aaff 0%, #4b9dc5 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#00aaff), to(#4b9dc5));
        background-image: linear-gradient(to bottom, #00aaff 0%, #4b9dc5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
        background-repeat: repeat-x;
        border-color: #000000;
    }
</style>
<div class="col-sm-6" style="">
    <section class="contact">
        <header style="background:none;">
            <h3 style="background:none;font-weight:bold;">Brittany Lawton</h3>
        </header>
        <p>
            <strong>
                Clinical Research Coordinator
            </strong>
            <br />Autism and Neurodevelopment Program

            <br />University of California, San Francisco
            <br />401 Parnassus Avenue, BOX CAS-0984
            <br />San Francisco CA, 94143-0984
        </p>

        <p style="background: #f1f1f1; border-radius: 5px; padding: 5px; margin-right: 10px; text-align: center;">
            <i style="font-size: 30px; color: #00ADEE; vertical-align: middle;" class="ion-email"></i><span style="vertical-align:baseline;"> <a href="mailto:Brittany.Lawton@ucsf.edu">Brittany.Lawton@ucsf.edu</a></span>&nbsp;&nbsp;&nbsp;
            <i style="font-size: 30px; color: #00ADEE; vertical-align: middle;" class="ion-ios-telephone"></i><span style="vertical-align: baseline;"> 415.476.8803</span>&nbsp;&nbsp;&nbsp;
            <i style="font-size: 30px; color: #00ADEE; vertical-align: middle;" class="ion-printer"></i><span style="vertical-align: baseline;"> 415.476.7132</span>&nbsp;
        </p>
    </section>
</div>
<div class="col-sm-6" style="">
    <section class="contact">
        <header style="background:none;">
            <h3 style="background:none;font-weight:bold;">Felicia Widjaja</h3>
        </header>
        <p>
            <strong>Clinical Research Coordinator</strong>
            <br />Autism and Neurodevelopment Program
            <br />University of California, San Francisco
            <br />401 Parnassus Avenue, BOX CAS-0984
            <br />San Francisco CA, 94143-0984
        </p>
        <p style="background:#f1f1f1;border-radius:5px;padding:5px;margin-right:10px;text-align:center;">
            <i style="font-size: 30px; color: #00ADEE; vertical-align: middle;" class="ion-email"></i><span style="vertical-align:baseline;"> <a href="mailto:Felicia.Widjaja@ucsf.edu">Felicia.Widjaja@ucsf.edu</a></span>&nbsp;&nbsp;&nbsp;
            <i style="font-size: 30px; color: #00ADEE; vertical-align: middle;" class="ion-ios-telephone"></i><span style="vertical-align: baseline;"> 415.476.7803</span>&nbsp;&nbsp;&nbsp;
            <i style="font-size: 30px; color: #00ADEE; vertical-align: middle;" class="ion-printer"></i><span style="vertical-align: baseline;"> 415.476.7132</span>&nbsp;
        </p>
    </section>
</div>
